{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

  {{ include('site/navigation.html.twig') }}

  <div class="container">

    <h1 class="text-center text-white font-weight-bold" style="margin-top: 2em; margin-bottom: 2em">Toutes les annonces</h1>

      {{ form_start(form) }}

      <div class="form-row justify-content-center">

        <div class="col-md-2">{{ form_row(form.maxPrice) }}</div>
        <div class="col-md-2">{{ form_row(form.minSurface) }}</div>
        <div class="col-md-2">{{ form_row(form.minRooms) }}</div>
        <div class="col-md-2">{{ form_row(form.minBedRooms) }}</div>

      </div>
      <div class="form-row justify-content-center">

        <div class="col-md-2">{{ form_row(form.type) }}</div>
        <div class="col-md-2">{{ form_row(form.habitat) }}</div>
        <div class="col-md-2">{{ form_row(form.heat) }}</div>
        <div class="col-md-2">{{ form_row(form.city) }}</div>

      </div>

      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary w-25">Rechercher</button>
      </div>

      {{ form_end(form) }}

    <div class="d-flex flex-wrap justify-content-around" style="margin-top: 4em">
      {% for offer in offers %}
        <div class="card mb-5 hvr-grow h-25" style="width: 21rem;">

          <a href="{{ path('show', {'id': offer.id}) }}" class="stretched-link text-decoration-none">

            <div class="card-text text-dark" style="position: absolute; right: 10px; top: 5px; font-weight: bold">{{ offer.typeType }}</div>

            {% if offer.filename %}
              <img class="card-img-top" src="{{ vich_uploader_asset(offer, 'image') | imagine_filter('thumb') }}" alt="Card image cap">
            {% elseif offer.habitat == 2 %}
              <img class="card-img-top" src="{{ asset('images/empty.png') | imagine_filter('thumb') }}" alt="Card image cap">
            {% else %}
              <img class="card-img-top" src="{{ asset('images/empty_flat.png') | imagine_filter('thumb') }}" alt="Card image cap">
            {% endif %}
            <div class="card-body px-4">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">{{ offer.getHabitatType }}</h5>
                <span style="color: goldenrod">{{ offer.rooms }} pièces - {{ offer.surface }} m²</span>
              </div>

              <div class="d-flex justify-content-between flex-wrap">
                <p class="card-text text-secondary">{{ offer.city }} ({{ offer.postalCode}})</p>
                <h5 class="card-text font-weight-bold" style="color: #B0413E">{{ offer.price | number_format(0, '', ' ') }} €</h5>
              </div>

            </div>

          </a>


        </div>
      {% endfor %}
    </div>

    <div class="d-flex justify-content-center my-4">{{ knp_pagination_render(offers) }}</div>

  </div>

{% endblock %}
